Body {

	background: rgba( 71, 147, 227, 1);
  font-family: 'Open Sans', sans-serif, #393E46;
  font-size:16px;
  line-height:1.5em;

  } 

h1
{
	font-family: 'Open Sans', sans-serif;
	color: #393E46;
	font-size: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
}
p
{
	font-family: 'Open Sans', sans-serif;
	color:#393E46;
}
img
{
	width:160px;
  height:140px;
	border: 1px solid #324960;
	border-radius: 50%;
	padding: 7px;
}

}

h2
{
	font-weight: bold;
	color:#393E46;
}

hr
{
	border: 8px solid #324960;
	border-radius: 3px;
}
li
{
	font-size: 18px;
}

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 25px 10px rgba( 0, 0, 0, 0.2 );
}

.Table2 {
		font-family: 'Open Sans', sans-serif;
		color:#393E46;
    border-radius: 5px;
    font-size: 20px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}
.desc
{
	font-size: 20px;
	margin-top: 1px;
}
.Table2 td, .Table2 th {
    text-align: center;
    padding: 15px;
}

.Table2 td {
    border-right: 1px solid #f8f8f8;
    font-size: 13px;
}

.Table2 thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.Table2 thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.Table2 tr:nth-child(even) {
    background: #F8F8F8;
}

.linkone
{
	font-family: 'Open Sans', sans-serif;
	color:#393E46;
	font-size: 20px;
	margin-right: 3%;
	margin-left: 1%;

}
.linktwo
{
	font-family: 'Open Sans', sans-serif;
	color:#393E46;
	font-size: 20px;
	

}
.tableone
{
	margin-bottom: 1%;
}

.header4
{
	font-family: 'Open Sans', sans-serif;
	color:#393E46;
	font-size: 20px;
}

.table-wrapper2{
   
    box-shadow: 0px 0px 0px rgba( 0, 0, 0, 0.2 );
}

.Table3 {
	align: center;
		font-family: 'Open Sans', sans-serif;
		color:#393E46;
    border-radius: 5px;
    font-size: 20px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 80%;
    max-width: 50%;   
    height: 80%;
    margin-left: auto;
  margin-right: auto;
    background-color: white;
}
.Table3 td, .Table2 th {
    text-align: center;
    padding: 8px;
}

.Table3 td {
    border-right: 1px solid #f8f8f8;
    font-size: 13px;
}

.Table3 thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.Table3 thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.Table3 tr:nth-child(even) {
    background: #F8F8F8;
}